#these are just examples, you may not have to use all of them!

langchain
langchain-community
langchain-text-splitters
faiss-cpu
sentence-transformers
playwright
python-dotenv
requests
groq
poml
a2a-sdk[http-server]
uvicorn
httpx
